extends layouts/layout.pug

block content
    link(rel='stylesheet', href='/styles/game.css')
    script(src='https://cdn.socket.io/4.0.0/socket.io.min.js')
    title D&eacute;fi P&acirc;tisserie : La Course aux Desserts

    .game-container
        h1 D&eacute;fi P&acirc;tisserie : La Course aux Desserts
        .timer
            | Temps restant:
            span#timer 40

        #recipe.recipe Recette: En attente de la s&eacute;lection du chef...
        .game-area
            .player-area
                h2#player1Name
                #player1score.score Score: 0
                #player1status.status En attente...
            .player-area
                h2#player2Name
                #player2score.score Score: 0
                #player2status.status En attente...
        #player-grid.ingredient-grid


        button#quitButton.button Quitter la session
        div#feedback.feedback
        ul#playerList
    script(type="module", src='/script/game.js')
