extends layouts/layout.pug

block content
    link(rel='stylesheet', href='/styles/gameSelection.css')
    script(src='https://cdn.socket.io/4.0.0/socket.io.min.js')
    title Page de Sélection du Jeu

    .container
        h1 Bienvenue dans le jeu !
        button(onclick="createGame()") Créer une nouvelle partie
        button(onclick="joinGame()") Rejoindre une partie
        button(onclick="displayActiveGames()") Afficher les sessions en cours

        // Section pour afficher les sessions de jeu disponibles
        div(id="activeGamesContainer")
            h2 Sessions Actives
            ul(id="activeGamesList")
                // Les sessions seront ajoutées ici dynamiquement

    script(src="/script/gameSelection.js")
