doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title D&eacute;fi P&acirc;tisserie : La Course aux Desserts
        script(src='https://cdn.socket.io/4.0.0/socket.io.min.js')
        link(rel='stylesheet', href='/styles/game.css')
    body
        .game-container
            h1 D&eacute;fi P&acirc;tisserie : La Course aux Desserts
            .timer
                | Temps restant:
                span#time 90
                | s
            #recipe.recipe Recette: En attente de la s&eacute;lection du chef...
            .game-area
                .player-area
                    //- Ici on va utiliser l'interpolation pour afficher les noms de joueurs
                    h2= player1Name
                    #player1-score.score Score: 0
                    #player1-grid.ingredient-grid
                    #player1-status.status En attente...
                .player-area
                    h2= player2Name
                    #player2-score.score Score: 0
                    #player2-grid.ingredient-grid
                    #player2-status.status En attente...
            ul#playerList
        script(src='/script/game.js')
