extends layouts/layout

block content
    title La Folie des Desserts - Login
    link(rel='stylesheet', href='/styles/style.css')
    script(src='https://cdn.socket.io/4.0.0/socket.io.min.js')
    //script(src="./socket.io/socket.io.min.js")

    .container
        .dessert-icon &#x1F370;
        p.intro
            | Pr&eacute;parez-vous &agrave; un festin sucr&eacute; et amusant ! Connectez-vous ou inscrivez-vous pour commencer &agrave; jouer.

        form#login-form

            h2 Connexion
            .form-group
                label(for='login-username') Nom d&apos;utilisateur :
                input#login-username(type='text', name='userName', required='')
            .form-group
                label(for='login-password') Mot de passe :
                input#login-password(type='password', name='password', required='')
            button(type='submit') Se connecter

        p.toggle-form
            | Pas encore inscrit ?
            a(href='/subscribe', class='no-effect') Inscrivez-vous ici !

        p#notificationMessage

    script(src='/script/login.js')
