extends layouts/layout

block content
    head
        title La Folie des Desserts - Inscription
        link(rel='stylesheet', href='styles/style.css')

    .container
        .dessert-icon &#x1F370;
        h1 La Folie des Desserts
        p.intro
            | Pr&eacute;parez-vous &agrave; un festin sucr&eacute; et amusant ! Connectez-vous ou inscrivez-vous pour commencer &agrave; jouer.

        h2 Inscription
        form#subscribe(action='/subscribe', method='POST')
            .form-group
                label(for='username') Nom d&apos;utilisateur :
                input#username(type='text', name='userName', required='')
            .form-group
                label(for='email') Email :
                input#email(type='email', name='email', required='')
            .form-group
                label(for='register-password') Mot de passe :
                input#register-password(type='password', name='password', required='')
            button(type='submit') S&apos;inscrire

        p.toggle-form
            | D&eacute;j&agrave; inscrit ?
            a(href='/login', class='no-effect') Connectez-vous ici !

    div#notification
        p#notificationMessage

    script(src='script/subscribe.js')
